<%= no_cms_admin_form_for @attachment, multipart: true do |f| %>
  <%= render partial: 'no_cms/admin/shared/toolbar', locals: { f: f } %>
  <div class="content">
    <%= render 'no_cms/admin/shared/log_messages' %>
    <%= render 'form', f: f %>
  </div>

<% end %>
