/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#col-2 {
  .content {
    li {
      min-height: 64px;
      .preview {
        width: 64px;
        height: 64px;
        float:left;
      }
    }
  }
}
