/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#col-2 {
  .content {
    li {
      min-height: 64px;
      .preview {
        width: 64px;
        height: 64px;
        margin: 0 10px 0 0;
      }
    }
  }
}

#content-area {
  li {

    float: left;
    margin: 0 20px 0 0;
    text-align: center;

    .preview {
      width: 128px;
      margin: 0 10px 0 0;
      display: block;
    }

    a {
      color: #87949B;
      text-decoration: none;
    }

  }

  .row {
    .preview {
      width: 64px;
      height: 64px;
      float:left;
      margin: 0 10px 0 0;
    }
  }

}
